
/* ---------------- Généralité ---------------------*/
*{
  box-sizing:border-box ;  
  margin: 0;
  padding: 0;
}
#page{
  margin: 0 20%;
}
.exercice{
  margin: 2% auto;
}
h1{
  text-align: center;
}
h2{
  text-align: center;
}
a{
  text-decoration: none;
}
legend{
  text-align: left;
  color: whitesmoke;
  background-color: black;
}
hr{
  padding: 1px;
  background-color: tomato;
}
/* ---------------- exercice 1 ---------------------*/
.planDeTravail{
  width: 300px;
  height: 300px;
  padding: 30px;
  background-color: black;
  margin: 0 auto 2%;
}
#ex1Vert{
  width: 240px;
  height: 240px;
  background-color: green;
  margin: auto;
  padding:20px ;
}
#ex1Bleu{
  width: 200px;
  height: 200px;
  background-color: blue;
  margin: auto;
  padding: 25px;
}
#ex1Orange{
  width: 150px;
  height: 150px;
  background-color: chocolate;
  margin: auto;
}
/* ---------------- exercice 2 ---------------------*/

.planDeTravail1{
  position: relative;
  width: 300px;
  height: 300px;
  background-color: black;
  margin: 0 auto 2%;
}
#ex2Vert{
  width: 240px;
  height: 240px;
  background-color: green;
  position: relative;
  top: 30px;
  left: 30px;
}
#ex2Bleu{
  width: 200px;
  height: 200px;
  background-color: blue;
  position: relative;
  left: 55px;
  top: 20px;
}
#ex2Orange{
  width: 150px;
  height: 150px;
  background-color: chocolate;
  position: relative;
  left: -70px;
  top: 25px;
}
/*--------------------exercice 3--------------------*/
#planDeTravail2{
  position: relative;
  width: 300px;
  height: 465px;
  background-color: black;
  margin: 0 auto 2%;
}
#ex3Vert{
  width: 240px;
  height: 240px;
  background-color: green;
  position: absolute;
  left: 30px;
  top: 20px;
}
#ex3Bleu{
  width: 200px;
  height: 200px;
  background-color: blue;
  position: absolute;
  left: 20px;
  top: 20px;
}
#ex3Orange{
  width: 150px;
  height: 150px;
  background-color: chocolate;
  position: absolute;
  left: 25px;
  top: 250px;
}
/*--------------------exercice 4--------------------*/
#planDeTravail3{
  position: relative;
  width: 600px;
  height: 465px;
  background-color: black;
  margin: 0 auto 2%;
}
#grandBloc{
  width: 550px;
  height: 40px;
  background-color: green;
  position: absolute;
  left: 25px;
}
#ex4Vert{
  width: 120px;
  height: 120px;
  background-color: green;
  position: absolute;
  left: 230px;
  top: 120px;
}
#ex4Bleu{
  width: 60px;
  height: 60px;
  background-color: blue;
  position: absolute;
  left: 30px;
  top: 30px;
}
#ex4Orange{
  width: 60px;
  height: 60px;
  background-color: chocolate;
  position: absolute;
  left: 160px;
  top: 150px;
}
/*--------------------exercice 5 V absolute--------------------*/
#planDeTravail4{
  position: relative;
  width: 300px;
  height: 300px;
  background-color: black;
  margin: 0 auto 2%;
}
#ex5Vert{
  width: 100px;
  height: 100px;
  background-color: green;
  position: absolute;
  left: 25px;
  top: 25px;
}
#ex5Bleu{
  width: 100px;
  height: 100px;
  background-color: blue;
  position: absolute;
  left: 175px;
  top: 25px;
}
#ex5Orange{
  width: 100px;
  height: 100px;
  background-color: chocolate;
  position: absolute;
  left: 25px;
  top: 175px;
}
#ex5Teal{
  width: 100px;
  height: 100px;
  background-color: teal;
  position: absolute;
  left: 175px;
  top: 175px;
}
/*--------------------exercice 5 V relative--------------------*/
#planDeTravail4{
  position: relative;
  width: 300px;
  height: 300px;
  background-color: black;
  margin: 0 auto 2%;
}
#ex5bVert{
  width: 100px;
  height: 100px;
  background-color: green;
  position: relative;
  left: 25px;
  top: 25px;
}
#ex5bBleu{
  width: 100px;
  height: 100px;
  background-color: blue;
  position: relative;
  left: 175px;
  top: -75px;
}
#ex5bOrange{
  width: 100px;
  height: 100px;
  background-color: chocolate;
  position: relative;
  left: 25px;
  top: -25px;
}
#ex5bTeal{
  width: 100px;
  height: 100px;
  background-color: teal;
  position: relative;
  left: 175px;
  top: -125px;
}
/*--------------------exercice 6--------------------*/

#planDeTravail5{
  position: relative;
  width: 300px;
  height: 300px;
  background-color: black;
  margin: 0 auto 2%;
}
#ex6Vert{
  width: 100px;
  height: 100px;
  background-color: green;
  position: absolute;
  left: 25px;
  top: 25px;
}
#ex6Bleu{
  width: 100px;
  height: 100px;
  background-color: rgba(0, 0, 255, 0.65);
  position: absolute;
  left:55px;
  top: 55px;
  z-index: 3;
}
#ex6Orange{
  width: 100px;
  height: 100px;
  background-color: rgba(210, 105, 30, 0.65);
  position: absolute;
  right: 55px;
  bottom: 55px;
  z-index: 2;
}
#ex6Yellow{
  width: 100px;
  height: 100px;
  background-color: yellowgreen;
  position: absolute;
  right: 25px;
  bottom:25px;
}
/*--------------------exercice 7--------------------*/

#planDeTravail6{
  width: 300px;
  height: 300px;
  background-color: black;
  margin: 0 auto 2%;
}
#ex7Vert{
  width: 100px;
  height: 100px;
  background-color: green;
  float: left;
}
#ex7Bleu{
  width: 100px;
  height: 100px;
  background-color: rgb(0, 0, 255);
  float: left;
}
#ex7Orange{
  clear: both;
  width: 80%;
  height: 100px;
  background-color: rgb(210, 105, 30);
  margin: 0 auto;
}
#ex7Yellow{
  width: 100px;
  height: 100px;
  background-color: yellowgreen;
  float: right;
}
#ex7gray{
  width: 100px;
  height: 100px;
  background-color: gray;
  float: right;
}
/*--------------------exercice 8--------------------*/

ul{
  list-style: none; 
  position: sticky;
  top: 20px;
  background-color: teal;
  padding:5px 10px;
  width: 120px;
}
nav ul li a{
  color: aliceblue;
}
nav ul li a:visited{
  color: aliceblue;
}
/*__  __               _       _                  _                  _        _        
 |  \/  | ___ _ __ ___(_)   __| | ___   _ __ ___ ( ) __ ___   _____ (_)_ __  | |_   _  
 | |\/| |/ _ \ '__/ __| |  / _` |/ _ \ | '_ ` _ \|/ / _` \ \ / / _ \| | '__| | | | | | 
 | |  | |  __/ | | (__| | | (_| |  __/ | | | | | | | (_| |\ V / (_) | | |    | | |_| | 
 |_|  |_|\___|_|  \___|_|  \__,_|\___| |_| |_| |_|  \__,_| \_/ \___/|_|_|    |_|\__,_| 
                                                                                        */